HELP.md
.gradle
.gitignore
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
=======
.ssh
application-dev.properties
log*

=======
src/main/resources/static/
SwaggerConfig

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.DS_Store
Dockerfile

.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
https://git.swmgit.org/swm-13-main/13_swm14/sporty-note.git
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### LOG FILE ###
tmp/
logs/